<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pain Reduce: Diff alert</title>
        <style>
.deleted { text-decoration: line-through; color: red; }
.added { color: green; }
.info { color: blue; }
        </style>
    </head>
    <body>
        <h1>Diff alert</h1>
        <table>
            <tr>
                <th><p>Originator Name</p></th>
                <th><p>Path</p></th>
                <th><p>Value</p></th>
            </tr>
            {{# filterDiffsByKey this key="N" }}
            <tr>
                <td><p>{{ to.originator_name }}</p></td>
                <td>{{ join path }}</td>
                <td><p><span class="added">{{ rhs }}</span></p></td>
            </tr>
            {{/ filterDiffsByKey }}
            {{# filterDiffsByKey this key="D" }}
            <tr>
                <td><p>{{ to.originator_name }}</p></td>
                <td>{{ join path }}</td>
                <td><p><span class="deleted">{{ lhs }}</span></p></td>
            </tr>
            {{/ filterDiffsByKey }}
            {{# filterDiffsByKey this key="E" }}
            <tr>
                <td><p>{{ to.originator_name }}</p></td>
                <td>{{ join path }}</td>
                <td><p><span class="deleted">{{ lhs }}</span> <span class="added">{{ rhs }}</span></p></td>
            </tr>
            {{/ filterDiffsByKey }}
            {{# filterDiffsByKey this key="A" }}
            <tr>
                <td><p>{{ to.originator_name }}</p></td>
                <td>{{ join path }}</td>
                <td><p class="info">An &ldquo;A&rdquo; change was included (not supported)</p></td>
            </tr>
            {{/ filterDiffsByKey }}
        </table>
    </body>
</html>
